{% extends 'base.html' %}

{% block content %}
<h1>{{ user.name }}</h1>
<p>{{ user.bio }}</p>
<p><strong>Skills:</strong> {{ user.skills }}</p>
<p><strong>Field of Work:</strong> {{ user.field_of_work }}</p>
<img src="{{ url_for('static', filename='uploads/avatars/' + user.avatar) }}" class="img-thumbnail profile-image" alt="{{ user.name }}">

<h2>Projects</h2>
<div class="row">
    {% for project in user.projects %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <a href="{{ url_for('routes.project_detail', project_id=project.id) }}">
                    <img src="{{ url_for('static', filename='uploads/projects/images/' + project.image) }}" class="card-img-top img-thumbnail project-image" alt="{{ project.title }}">
                </a>
                <div class="card-body">
                    <a href="{{ url_for('routes.project_detail', project_id=project.id) }}">
                        <h5 class="card-title">{{ project.title }}</h5>
                    </a>
                    <p class="card-text">{{ project.description|truncate(100) }}</p>
                    <p><strong>Tags:</strong> {{ project.tags }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}